# extends "layout.html"
# from "_formhelpers.html" import render_field


{% block main %}
    <fieldset title= "Password Box">
    <legend>Change pw</legend>
            <form id= "Password" method= "POST">
                <dl>
                    {{ render_field(form.oldpassword) }}
                    {{ render_field(form.newpassword) }}
                </dl>
            <button type="submit" form="Password"
            title= "new_pw">Submit</button>
        </form>


        {% with messages = get_flashed_messages(category_filter=["password"]) %}
            {% if messages %}
                {% for message in messages %}
                    <br>{{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </fieldset>
{% endblock %}

</html>